.profile {
    height: fit-content;
    width: 900px;
    margin-top: 5px;
    margin-left: 235px;
    padding-top: 20px;
}

.profile-header {
    height: fit-content;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.profile-header-info {
    background-color: #7E6FA1;
    display: inline-block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
    width: 100%;
}

.profile-header-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #7E6FA1;
    margin-top: -100px;
    border: 5px solid #B69AFF;
}

.profile-header-text {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-top: 2px;
    margin-bottom: 20px;
}


.header-hr {
    width: 75%;
    height: 2px;
    background-color: #494454;
    border: none;
}

.profile-blog-text {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-top: 2px;
    margin-bottom: 2px;

}

.profile-no-of {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 2px;
    background-color: #494454;
    margin-top: 15px;
}

.UserBlogs {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    font-size: 20px;

    height: fit-content;

}

.profile-blog {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    font-size: 20px;

    height: fit-content;
    display: grid;
    grid-template-columns: 350px 350px;
    column-gap: 50px;
}