.sensorsCollect {
    display: flex;
  }
  
  .custom-button {
      width: 90px;
      height: 35px;
      outline: none;
      border: 2px solid black;
      border-radius: 5px;
      font-size: 15px;
      font-weight: bold;
      justify-content: center;
      margin-left: 950px;
      cursor: pointer;
  }
  
  .custom-button:hover {
      background: rgb(216, 216, 216);
  }
  .resoTitle{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
  }
  
  #motion{
    font-size: 30px;
  }
  
  
  
  .content-container {
    flex: 1;
    display: flex;
    flex-direction: column; 
  }
  
  .res-posts-container {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
  }
  
  .res-post {
    flex: 0 0 calc(33.333% - 20px); 
    padding: 10px;
    border: 1px solid purple;
    border-radius: 10px;
    
    
  }
  
  .res-post:hover{
    background: linear-gradient(0deg, rgba(105,47,89,1) 0%, rgba(61,3,48,1) 100%);
    color: white;
    cursor: pointer;
   }
  
  .res-post img {
    width: 100%;
    height: 280px;
    border-radius: 25px;
    border: none;
  }
  