.search{
  height: 30px;
  width: 300px;
  border: none;
  background-color: transparent;
  color: #000;
  font-size: 13px;
  font-family: cursive;
  padding-left: 20px;
  margin: 0;
display: flex;
  }
  
  .searchBar{
    height: 30px;
  width: 300px;
  border: none;
  background-color: transparent;
  color: #000;
  font-size: 13px;
  font-family: cursive;
  padding-left: 20px;
  margin: 0;
  }  
  
  .searchIcon{
    height: 20px;
  width: 30px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
    
  }
