.search {
  position: relative; /* Positioning context for absolute positioning */
  display: flex; /* Display as flex container */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin-top: 50px; /* Margin from the top */
  margin-left: 100px; /* Margin from the left */
  margin-right: 100px; /* Margin from the right */
  height: 50px; /* Height of the search container */
  width: 850px; /* Width of the search container */
  border-radius: 10px; /* Border radius for rounded corners */
  margin-bottom: 0;
}

.searchBar {
  position: absolute; /* Positioning within the search container */
  font-family: cursive; /* Font family for the search bar text */
  font-size: 15px; /* Font size for the search bar text */
  height: 35px; /* Height of the search bar */
  width: 600px; /* Width of the search bar */
  border-radius: 20px; /* Border radius for rounded corners */
  padding-left: 20px; /* Left padding for text */
}

.searchIcon {
  border-radius: 50%; /* Border radius for circular shape */
  height: 25px; /* Height of the search icon */
  width: 25px; /* Width of the search icon */
  position: absolute; /* Positioning within the search container */
  margin-left: 550px; /* Margin from the left within the search container */
  cursor: pointer; /* Cursor style on hover */
}
