.login{
    height: 79vh;
    width: 98vw;
    background-color: #ffffff;
    display: flex;
    flex-direction:row;

}

.logindiv{
    height: 400px;
    width: 700px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginImage{
    height: auto;
    width:600px;
    margin-left: 50px;
    margin-top: 20px;
}
.loginInput {
    height: 30px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    border: solid 2px #532f44;
    font-size: 13px;
    font-family: cursive;
    padding-left: 20px;
  }
  
  .LoginTextdiv {
    margin-left: 250px;
    display: flex;
    flex-direction: row;
  }
  
  .loginText {
    font-size: 15px;
    color: #532f44;
    text-align: left;
  }
  
  .loginLink{
    font-size: 15px;
    text-decoration: none;
    color: #532f44;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .loginLink:hover {
    color: #854c65;
  }

  .loginButton {
    width: 300px;
    background-color: #532f44;
    border: 2px solid #532f44;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
 /* .loginButton:hover {
    background-color: #532f44;
    color: #fff;
  }
*/
.hrdiv{
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.hrclass{
    height: 2px;
    width: 200px;
    background-color: #532f44;
    margin-left: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.googleButton{
    height: 40px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 20px;
    border: none;
    background-color: #fff;
    font-size: 20px;
    font-family: cursive;
    color: #000;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.googleButton:hover{
    color: #532f44;
}

.googleIcon{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    cursor: pointer;

}