.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    
  }
  
  .ResetPasswordSecondaryDiv{
    background-color: rgba(161, 157, 157, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  .logo-text-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .trivia-text {
    font-size: 24px;
    font-weight: bold;
  }
  
  .reset-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .reset-password-form input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
  }
  
  .reset-password-form button {
    width: 220px;
    padding: 10px;
    font-size: 16px;
    background-color: #532f44;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .reset-password-form button:hover {
    background-color: #532f44;
  }
  
  p {
    margin-top: 20px;
    color: #532f44;
  }
  