.custom-button {
    width: 90px; /* Button width */
    height: 35px; /* Button height */
    outline: none; /* Remove outline */
    border: 1px solid black; /* Border style */
    border-radius: 5px; /* Rounded corners */
    font-size: 15px; /* Font size */
    font-weight: 700; /* Font weight */
    justify-content: center; /* Center content horizontally */
    margin-left: 850px; /* Left margin */
    margin-top: 20px; /* Top margin */
    cursor: pointer; /* Cursor style */
  }
  
  /* Hover effect for custom button */
  .custom-button:hover {
    background: rgb(216, 216, 216); /* Background color on hover */
  }
  
  /* Styling for button icon */
  .button-icon {
    width: 20px; /* Icon width */
    height: 20px; /* Icon height */
    margin-right: 5px; /* Right margin */
  }
  