.home{
    display:flex;
    margin-bottom: 225px;
}
.home-right{
    margin-left: 100px;
    margin-top: 180px;
    
}
.mainsearch{
    width: 500px;
    height: 60px;
    border-radius: 25px;
    border-color: purple;
}
.home-left h1{
    margin-left: 300px;
    margin-top: 180px;
}
.homeimg{
    width: 200px;
    height: 300px;
}