/** -----------------------------banner-------------------------------*/

.blogBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('./images/blogBanner.png');
  background-size: cover;
  padding: 40px;
  width: 100%;
  height: 300px;
  font-size: 20px;
  font-family: 'https://fonts.googleapis.com/css?family=PT Sans';
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.bannerSection {
  width: 50%;
}

.bannerSection .quote {
  color: #ffffff;
  text-align: center;
}

.Bannercreate {
  margin-top: 10px;
  margin-left: 120px;
  
}

.Bannercreate .createLink {
  text-decoration: none;
  color: #532f44; 
  border: solid #532f44;
  padding: 10px 20px;
  border-radius: 25px;
}

.blogQuote{
  color:#000;
}

.bannerSection img {
  width: 50%; 
  margin-left: 30%;
  box-shadow: none;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  row-gap: 50px;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  list-style: none;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  cursor: pointer;
}

.active {
  background-color: #1e50ff;
  border-radius: 50%;
}

.page-item {
  list-style: none;
  padding: 2px 12px;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}


/**----------------banner ends -------------------------------------------*/
.blogFilters {
  display: flex;
  justify-content: 20px; 
  margin-left: 120px;
}

.filterButton {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #532f44;
  border: solid #532f44 ;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px;
}
.activeFilterButton {
  background-color: #532f44;
  color:#fff;
}

  .create{ 
    height: 40px;
    width: 150px;
    margin-left: 1100px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
    justify-content: center;
  
    
  }
  .createLink{
    color: rgb(83, 47, 68);
    background-color: #dddddd;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    font-family: 'https://fonts.googleapis.com/css?family=PT Sans';

  
   
    
    
  
  }
  
  .create:hover{
    border: solid 3px #532f44;
    border-radius: 40px;
    
  }

  .pagination {
    margin-bottom: 10px;
    margin-left: 15px;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    text-align:center;
  }
  
  .page-item {
    margin: 0 5px;
   
  }
  
  .page-link {
    color: #532f44; /* Text color */
    background-color: #d3d3d3; /* Background color */
    border: 1px solid #532f44; /* Border color */
    padding: 8px 12px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    justify-content: center;
    align-items: center;
  }
  
  .page-link:hover {
    color: #fff; /* Text color on hover */
    background-color: #532f44; /* Background color on hover */
  }
  

  
  
  
  /*---------------Post ---------------------------*/
  .bpost{
    margin-left: 60px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'https://fonts.googleapis.com/css?family=PT Sans';
    height:fit-content;
    width: 1225px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    column-gap: 150px;
  }
  
  .postCard{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 20px;
    background-color: #ffffff;
    color:#000;
    font-size: 20px;
    height:fit-content;
    width: 300px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s;
  }

  .postCard:hover {
    transform: scale(1.05); /* Enlarge the card on hover */
  }
  
  .blogPostImage{
    max-width: 100%;
    padding: 0px;
    height: 200px;
    
  }
  .blogPostdate{
    margin-top: 20px;
    font-size: 12px;
  }

  .authorProfilePicture{
    width:40px;
    height: auto;
    border: #000;
    border-radius: 50%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
  }

  .blogCardFooter{
    display: flex;
    gap: 10px;
  }


  .blogPostostDetails {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .postCard:hover .blogPostostDetails {
    opacity: 1; /* Show post details on hover */
  }
  
  .blogPostostDetails {
    
    padding: 20px;
    text-align: center;
  }
  .blogPostText{
    
    color: #000;
  }
  .blogPostTitle{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    text-align: left;
   
  }

  .blogPostDescription{
    font-size: 16px;
    text-align: justify;

  }
  .blogcard{
    text-decoration: none;
    color: inherit;
  }
  .likedislikeDiv{
    display: flex;
    color: #532f40;
    gap: 25px;

  }
  

  /**--------------create blog posts -------------------------**/
  .createBlog{
    height: 110vh;
    width: 100vw;
    color: #000;
    padding:50px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpBbG7xVvoxhL7ZYNX36DHYw63z-aMAkKK_z4D09rC0SLK56Q3NJ5COTgeH09HILyaUw4&usqp=CAU);
    background-size: cover;

}

.createBlogDiv{
    height: 700px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CreateBlogInnerdiv{
    padding:10px;
    margin-left: 10px;
    background-color: #fff;
    padding:20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    
}

.createBlogSubmit{
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid 2px #532f40;
    font-size: 20px;
    font-family: cursive;
    color: #532f40;
    cursor: pointer;

}


.createBlogSubmit:hover{
    background-color: #532f40;
    color: #000;
}
.WriteBlog{
  border: 1px solid #532f40;
  border-radius: 20px;
  height: fit-content;
  width: 900px;
  margin-top: 25px;
  margin-left: 235px;
  margin-bottom: 25px;
  padding-top: 20px;

}

.createBlogForm{
  padding: 25px;  
  margin-bottom: 10px; 
  padding : 25px;

}

.createBlogTitle{
  text-align: center;
  font-size: 40px;
  font-family: 'https://fonts.googleapis.com/css?family=PT Sans';
  color: #000;
  margin-bottom: 30px;
}

.createBlogTextbox{
  padding: 5px;
  height: auto;
  width: 800px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0.5px solid ;
  font-size: 15px;
}
.createBlogTextbox:hover{
  border: #532f44 solid 2px;
}

.createBlogEnterImage{
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  
}
.createBlogTextArea{
  padding: 5px;
  height: auto;
  width: 800px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.createBlogTextArea:hover{
  border: #532f44 solid 2px;
}

/* --------------pagination ----------------------------- */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  text-align: center;
  margin-left: 600px;
  margin-bottom: 20px;
  gap: 20px;
  
}

.pagination li {
  margin: 0 5px;
}

.pagination-link {
  padding: 5px 10px;
  border: 1px solid #7d6888;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.pagination-link:hover {
  background-color: #f0f0f0;
}

.active .pagination-link {
  background-color: #007bff;
  color: #fff;
}


