.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #323232;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-btn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

@media (max-width: 600px) {
  .notification {
    max-width: 100%; /* Take full width on smaller screens */
    left: 10px; /* Adjust position for better visibility */
    right: 10px;
    bottom: 10px;
    padding: 8px 16px; /* Reduce padding for smaller screens */
  }

  .close-btn {
    font-size: 1em; /* Adjust font size of close button */
  }
}
