

.blogbody{
    font-size: 20px;
    text-align: justify;
    padding-left: 120px;
    width: 90%;
}

.blogDate{
    margin-top: 20px;
    font-size: 15px;
    text-align: justify;
    padding-left: 120px;
}

.Blog {
    padding: 100px;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #e1e1e1;
    background-color: #f9f9f9;
  }
  
  .blogTitle {
    margin-left: auto;
    margin-right: auto; 
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center; 
  }
  
  .blogbody {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify; 
    padding-left: 20px; 
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto; 
    width: 80%;
    white-space: pre-line;
  }
  .postImage{
    height: 220px;
    width: auto;
    justify-content: center;
    margin: 50px;
  }

  .BlogComments{
    padding: 100px;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #e1e1e1;
    background-color: #f9f9f9;
  }

  .blogCommentTitle{
    font-size: 30px;
    margin-top: 5px;
    margin-left: 60px;
    color:#532f44;
  }
.autherDetails{
  margin-top: 5px;
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.insideBlogHeader{
  display: flex;
  flex-direction: row;
  gap: 680px;
}
.insideBlogAutherName{
  margin-top: 12px;
}
.blogByPhrase{
  margin-top: 12px;
}

  


  .blogCommentTextArea{
    margin-bottom: 2px;
    padding: 10px;
    padding-bottom: 10px;
    height: inherit;
    width: 95%;
    background-color:#d9d9d9;
    border: none;
  }
  .blogCommentTextArea:focus {
    outline: none; 
  }

 
  .insideBlogComment{
    background-color:#d9d9d9;
  }

  .blogCommentButton{
    width: 30px;
    background-color:#d9d9d9;
    border: 1px;
    border-radius: 10%;
    cursor: pointer;
    padding-top: 20px;
  }

  