.share-popup {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .share-popup-content {
    display: flex; /* Use flexbox to arrange buttons in a row */
    justify-content: space-between; /* Distribute items evenly along the row */
  }
  
  .share-popup-content button {
    margin-right: 10px; /* Add spacing between buttons */
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center; /* Center icon and text vertically */
  }
  
  .share-popup-content button:hover {
    background-color: #f0f0f0; /* Light background color on hover */
  }
  
  .close-button {
    align-self: flex-end; /* Align close button to the end of the row */
    margin-top: 10px; /* Add some margin above close button */
  }

  .ShareBoxIcon{
    width: 24px;
    height: 24px;
    color: #333;
  }
  