.dropdownMenuul {
    list-style: none;
    position: absolute;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width:300px;
    margin-left: -100px;


  }

  .dropDownProfileImg{
    width:80px;
    height:auto;
    opacity: 1.0;
    border-radius: 50%;
    margin-left: 20px;
    margin: 5px;
    margin-left: 50px;
  }

  .ProfileHeaderText{
    padding: 10px;
    margin: 8px 0;
    font-weight: bold;
    display: flex;
    gap: 30px;
    padding-left: 18px;
  }

  .editProfile{
    background-color: #fff;
    border: 1px #000;
    color: #000;
    cursor: pointer;
  }

  hr{
    margin-left: 20px;
    margin-right: 20px;
  }

  .editProfile :hover{
    color: #fff;
    border: #000;
    background-color: #000;
    
  }

  .dropdownMenuli {
    padding: 14px;
    transition: all linear 0.3s;
  }
  
  .dropdownMenuli:hover {
    background: gray;
    cursor: pointer;
    color: #fff;
  }
  
  .dropdown-menu {
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    transition: all linear 0.3s;
  }

  .logoutButton{
    border: none;
    background-color: none;
  }
  .logoutButton:hover{
    background: gray;
    cursor: pointer;
    color: #fff;
  }