*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px  -2px black;
    
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo h1{
    color: black;
    font-style: italic;
    font-size: 36px;
    font-weight: bolder;
}
.cover{
    justify-content: center;
    width: 100px;
    height: auto;
}
.logo{
    width: 100px;
    height: auto;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    list-style: none;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    color: black;
    
}
.nav-menu hr{
    border: none;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: purple;
}
.nav-login{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-login button{
    width: 100px;
    height: 40px;
    outline: none;
    border: 1px solid purple;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.nav-login button:active{
    background: rgb(145, 80, 145);
    color: white;
}
