*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
}

.admin_content{
    margin-left: 19%;
    margin-right: 2%;
    height: 100%; 
    display: grid;
   gap: 1px;
   padding: 20px;
}

.blogTable th,
.blogTable td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}
  
.blogTable th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  .blogTable {
    background-color:rgb(231, 189, 237);
  }
  
  .blogTable tr:hover {
    background-color: #f2f2f2;
  }
  
  .blogTable th,
  .blogTable td {
    padding: 12px 15px;
    text-align: center;
  }

