.project_seemore_container {
  margin: 2% 10% 5% 10%;
}

.project_title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: purple;
  padding-left: 20px;
  font-size: xx-large;
  font-weight: bold;
}

.project_line {
  background-color: rgb(234, 233, 233);
  height: 2px;
  border: none;
}

.project_inline_user {
  display: flex;
}
.project_userprofile {
  height: 60px;
  width: 60px;
  margin: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.project_user {
  padding-left: 20px;
  line-height: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.project_mail:hover {
  text-decoration: underline;
  color: blue;
}

.project_image {
  padding: 20px;
  height: auto;
  margin-left: 30%;
  max-width: 100%;
  display: block;
}

.project_figure {
  font-style: italic;
  padding-top: 0px;
  margin-left: -52%;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.project_head {
  color: purple;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-left: 20px;
  font-size: x-large;
  font-weight: bold;
}

.project_describe {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-left: 20px;
  font-size: large;
  text-align: justify;
  white-space: pre-line;
}

.project_github {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-left: 20px;
  font-size: large;
  text-align: justify;
}

.project_github:hover {
  text-decoration: underline;
  color: blue;
}
