.project_inline_cards {
  margin: 10px;
}

.project_card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 14px;
  background-color: rgb(235, 200, 235);
}

.project_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.project_card_image {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.5s;
  position: inherit;
}

.project_card_image:hover {
  transform: scale(1.2);
}

.project_container {
  padding: 20px 16px;
}

.project_card_title {
  font-weight: bold;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 5px;
}

.project_description {
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

.project_card__btn {
  padding: 5px;
  background-color: blueviolet;
  color: white;
  align-items: left;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 5px;
  margin-top: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.project_card__btn:hover {
  background-color: rgb(104, 19, 183);
}

.project_card__btn:active {
  transform: translateY(4px);
  background-color: rgb(104, 19, 183);
}

.project_details .project_published_details {
  line-height: 0px;
  text-align: right;
  padding-top: 20px;
  color: rgb(104, 103, 103);
  font-size: smaller;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.project_heart {
  cursor: pointer;
  color: blue;
  align-items: center;
  font-size: 20px;
  background-color: rgb(208, 179, 204);
  padding-top: 0px;
  margin-top: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
}
