.project_viewall {
  text-decoration: underline;
  color: blue;
  text-align: right;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: larger;
  padding: 10px;
  margin-right: 10px;
}

.project_grid {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: 30% 30% 30% 30%;*/
  column-gap: 20px;
  justify-content: space-around;
}

.project_line {
  background-color: rgb(234, 233, 233);
  height: 2px;
  border: none;
  padding: 2px;
}

.project_box {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 14px;
  margin: 10px;
  padding: 20px;
  background-color: rgb(235, 200, 235);
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: x-large;
}

.projectclick_button {
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: blueviolet;
  color: white;
  font-size: large;
  border-radius: 5px;
  padding: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.projectclick_button:hover {
  background-color: rgb(104, 19, 183);
}

.projectclick_button:active {
  transform: translateY(4px);
  background-color: rgb(104, 19, 183);
}
